body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #aef458;
}

header {
    padding: 0.2em;
}
/* styles.css */
.h1-container {
    background-color: white;
    color: #52512c;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.3em;
    border-radius: 30px;
    align-items: center;
    display: flow-root;
}

.h1-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.h1-image {
    margin-right: 1em; 
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 30%;
}

.image-container {
    position: relative;
    display: inline-block;
}

.whatsapp-link {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
}

.whatsapp-image {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    pointer-events: none;
}

.whatsapp-link:hover .whatsapp-image {
    filter: brightness(0.5);
}

main {
    padding: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
}